﻿@using ConversationalExamples.Common

@model ConversationalExamples.Models.Basket

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.Hidden("basket", MvcSerializer.Serialize(Model))
        @Html.TextBox("userInput")
        
        <button type="submit">Submit</button>
    }
</body>
</html>
