﻿@model ConversationalExamples.Models.Basket

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Step3</title>
</head>
<body>
    <p>ItemA: @Model.ItemA</p>
    <p>ItemB: @Model.ItemB</p>
    <p>ItemC: @Model.ItemC</p>
</body>
</html>
